<?xml version="1.0"?>
<!--
/**
 * Rollpix ProductGallery Dependency Injection Configuration
 *
 * @category  Rollpix
 * @package   Rollpix_ProductGallery
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Rollpix\ProductGallery\Block\Product\View\Gallery">
        <arguments>
            <argument name="galleryConfig" xsi:type="object">Rollpix\ProductGallery\Model\Config</argument>
        </arguments>
    </type>

    <!-- Allow MP4 uploads in product media gallery -->
    <type name="Magento\Catalog\Model\Product\Media\Config">
        <plugin name="rollpix_allow_mp4_media"
                type="Rollpix\ProductGallery\Plugin\Catalog\Product\Media\ConfigPlugin"/>
    </type>

    <!-- Bypass image resize/cache for MP4 video files -->
    <type name="Magento\Catalog\Model\Product\Image">
        <plugin name="rollpix_video_image_bypass"
                type="Rollpix\ProductGallery\Plugin\Catalog\Model\Product\ImagePlugin"/>
    </type>

    <!-- Replace <img> with <video> on product listing pages when thumbnail is MP4 -->
    <type name="Magento\Catalog\Block\Product\Image">
        <plugin name="rollpix_video_listing_swap"
                type="Rollpix\ProductGallery\Plugin\Catalog\Block\Product\ImagePlugin"/>
    </type>

</config>
