<?xml version="1.0"?>
<!--
/**
 * Rollpix ProductGallery Admin Dependency Injection Configuration
 *
 * @category  Rollpix
 * @package   Rollpix_ProductGallery
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

</config>
