<?xml version="1.0"?>
<!--
/**
 * Rollpix ProductGallery Admin Routes
 *
 * @category  Rollpix
 * @package   Rollpix_ProductGallery
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="rollpix_gallery" frontName="rollpix_gallery">
            <module name="Rollpix_ProductGallery" before="Magento_Catalog"/>
        </route>
    </router>
</config>
